<!DOCTYPE html>
<html>
<!--

First Website
and comment
in html
(comments can span multiple lines)

-->

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
    <head>
    <meta charset ="utf-8" />
    <link href ="css/default.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Jeannie Davis: Personal Website</title>
   
    </head>
<!-- closing head -->
   
    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>
        <header>
            <h1>8 Bit Video Game Development </h1>
        </header>
        <hr class="header"/>
        <nav>
            <a href="/" class="highlighted">Home</a>
            <a href="/history">History</a>
            <a href="/languages">Languages</a>
           <a href="/popgames">Famous Glitches</a>
            <a href="/references">References</a>
        </nav>
        <br/>
        